h2 {
    color: blueviolet;
    text-align: center;
    width: auto;
    color: white;

  }

  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: rgb(16, 212, 238);
    position: sticky;
    top: 0;
   
  }

  /* Style the topnav links */
  .topnav a {
    float: right;
    display: block;
    color: #f9fcfa;
    text-align: center;
    padding: 25px 100px;
    text-decoration: none;
  }

  #img1 {
    max-width: 100px;


  }

  #img2 {

    max-width: 1500px;

  }

  #img3 {
    max-width: 300px;

  }

  table,
  td,
  th {
    border: 1px solid black;
  }
  #AboutUs{
    display: flex;
  }
 

  